body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.icon-button {
  background: transparent;
  border: none;
  font-size: 30px;
  padding: 0 0 0 0;
  cursor: pointer;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.icon-button-transparent {
  background: transparent;
  border: none;
  font-size: 15px;
  padding: 3px 0 0 0;
  cursor: pointer;
}

.vote-score {
  min-width: 30px;
  text-align: center;
  padding: 0 0 3px 15px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0);
  border-top: none;
}

.card-footer * {
  margin-left: 5px;
}